obsidian/ejemplos/Flujo n8n/Auditoria de Licencias IA v2.2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ad6c0ae-3b16-4b6b-9553-7611618cf2ea",
        "options": {}
      },
      "id": "webhook-id-123",
      "name": "Webhook",
      "position": [-320, 0],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "91b481b6-1df8-4872-98b4-b92cfd3b53b7"
    },
    {
      "parameters": {
        "jsCode": "// Guardamos los datos del webhook tal cual para pasarlos al LLM\nconst body = $json.body || {};\n\nreturn [{\n  json: {\n    body: body\n  }\n}];\n"
      },
      "id": "prepare-input-id",
      "name": "Prepare Input",
      "position": [-112, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.license_text + ($json.body.php_detected_host_ids ? '\\n\\n### PHP_DETECTED_HOST_IDS (usa estos valores para node_locked_host_id si coinciden) ###\\n' + JSON.stringify($json.body.php_detected_host_ids) : '') }}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un experto en auditoría de licencias de software industrial (Siemens PLM: NX, Teamcenter, STAR-CCM+, HEEDS). Tu objetivo es analizar archivos de licencia (o fragmentos limpios) y extraer metadatos estructurados.\n\n### 🎯 Instrucciones de Extracción:\n\n0. **RESUMEN COMERCIAL (PRIORIDAD MÁXIMA)**: Si detectas la sección `### RESUMEN COMERCIAL...`, **DEBES PRIORIZAR LOS CÓDIGOS Y CANTIDADES DE ESTA TABLA**.\n\n1. **Datos del Cliente**: Busca el `SOLD_TO` (ID de cliente) y el nombre de la empresa.\n\n2. **Infraestructura de Servidor (FlexLM)**:\n   - `SERVER_HOSTNAME`: Nombre en la línea `SERVER`. Si no hay línea `SERVER`, usa `Standalone`.\n   - `SERVER_HOST_ID`: ID en la línea `SERVER` (p.ej. `COMPOSITE=...`, `ID=...`, `UG_HWKEY_ID=...` o MAC). Si no hay, usa `null`.\n   - `VENDOR_DAEMON`: El demonio (p.ej. `ugslmd`, `saltd`).\n   - `transformed_header`: Genera el bloque `saltd` si el demonio actual es antiguo (`ugslmd`).\n\n3. **Productos y Expiraciones (INCREMENT/FEATURE)**:\n   - `product_code`: Código alfanumérico principal (p.ej. `NX13100`).\n   - `node_locked_host_id`: **(CRÍTICO)** Busca `HOSTID=...` o `ETHER=...`.\n     - Si ves `UG_HWKEY_ID=XXXXX`, extrae el valor completo (ej: `24141` o `UG_HWKEY_ID=24141`).\n     - Soporta IDs numéricos cortos (ej: `24141`), MAC addresses (12 hex) y Composite IDs.\n     - Si el producto es Node-Locked (tiene HOSTID) pero la línea no tiene el valor, usa el HOSTID del `SERVER` si aplica.\n   - `expiration_date`: Formato `YYYY-MM-DD`. Si es permanente, usa `9999-12-31`.\n\n### 🚫 Deduplicación y Reglas:\n- **NUNCA** agrupes productos Node-Locked con `node_locked_host_id` distintos.\n- **DONGLES**: Si detectas `HWKEY` o `Dongle`, captura el ID numérico con precisión.\n- **LISTA NEGRA**: Ignora `borrowing`, `server_id`, `id_check`.\n- **PHP_DETECTED_HOST_IDS**: Úsalos para confirmar/rellenar `node_locked_host_id`.\n\n### ⚠️ Reglas Críticas:\n- **SOLO responde con un objeto JSON válido**.\n- Sin bloques ```json, sin explicaciones.\n- Empieza con { y termina con }.\n- El campo `sold_to` es OBLIGATORIO.\n\n### 📤 Formato de Salida:\n{\n  \"sold_to\": \"1234567\",\n  \"customer_name\": \"...\",\n  \"version\": \"...\",\n  \"server_hostname\": \"...\",\n  \"server_host_id\": \"...\",\n  \"vendor_daemon\": \"...\",\n  \"products\": [\n    {\n      \"product_code\": \"NX13100\",\n      \"description\": \"...\",\n      \"quantity\": 1,\n      \"expiration_date\": \"2025-03-15\",\n      \"node_locked_host_id\": \"24141\"\n    }\n  ]\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [160, 0],
      "id": "c851677b-c1a7-4f1c-88c2-67afe1a71c85",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [176, 224],
      "id": "75c7ba96-9389-4244-98ad-87ee12675fca",
      "name": "DeepSeek Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraer el texto crudo que devuelve el LLM\nconst raw = $json.text || $json.output || $json.response || JSON.stringify($json);\n\n// 2. Limpiar posibles bloques markdown que DeepSeek añade\nconst clean = raw\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\n// 3. Parsear el JSON\nlet aiResult;\ntry {\n  aiResult = JSON.parse(clean);\n} catch(e) {\n  // Si falla el parse, devolver error con el raw para debug\n  return [{\n    json: {\n      parse_error: true,\n      error_message: e.message,\n      raw_output: raw\n    }\n  }];\n}\n\n// 4. Recuperar datos originales del Webhook (php_detected_host_ids, sold_to, etc.)\nconst webhookBody = $(\"Webhook\").item.json.body || {};\n\n// 5. Merge: los datos de la IA tienen prioridad, pero conservamos campos PHP si la IA no los tiene\nconst merged = {\n  ...webhookBody,\n  ...aiResult,\n  // Asegurar que sold_to nunca se pierda\n  sold_to: aiResult.sold_to || webhookBody.sold_to || 'unknown'\n};\n\nreturn [{ json: merged }];\n"
      },
      "id": "parse-merge-id",
      "name": "Parse & Merge",
      "position": [380, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://soporteays.dxpro.es/api/audit/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "callback-id-123",
      "name": "Portal Callback",
      "position": [600, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse & Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Merge": {
      "main": [
        [
          {
            "node": "Portal Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b5032beadfe80cd01d2127407126ebac2b3d37fc8da87a771520a246c4ddbc9b"
  }
}
